// Website colour palette
$deepsea: #211551;
$deepsea-hover: #12059f;
$deepsea-light: #e8e7f6;
$deepsea-light-hover: #8b99a6;
$grey: #4f5a65;
$grey-hover: #8b99a6;
$navy: #5bc2e7;
$navy-hover: #006298;
$navy-dark: #10069f;
$navy-dark-hover: #231753;
$navy-light: #e1f3f9;
$navy-light-hover: #8b99a6;
$white: #ffffff;
$white-hover: #dbdaf1;

// Button colours
$btn-primary-color: $white;
$btn-primary-bg: $navy-dark;
$btn-primary-bg-hover: $navy-dark-hover;

// Transparent colors
$deepsea-transparent: rgba(33, 21, 81, 0.5);
$navy-dark-transparent: rgba(16, 6, 159, 0.85);

// Form colours
$form-input-text: #bdbecf;
$form-input-error: #da0000;

// Lines
$border-grey: #eaeaea;

// Layout
$background-website: #f1f1f1;
$background-website-dark: #e5e6eb;

// Code block
$code-background: #def3f9;
$code-border: #e8e8e8;

// Services colours
$orange-light: #ff8200;
$orange-light-hover: #ffbd04;
$orange-dark: #fc561f;
$orange-dark-hover: #ffbd04;
$pink: #da1884;
$pink-hover: #e56db1;
$green: #007a33;
$green-hover: #43b02a;
$blue: #006298;
$blue-hover: #00c1d5;
